.btn {
  min-width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btnPrimary {
  background-color: #7c7c7c;
  color: white;
  &:hover {
    background-color: #b92929;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.btnSecondary {
  background-color: #020202;
  color: white;
  &:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.btnTerciary {
  background-color: #2c2c2c;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: #383838;
  }
}

.btnCuarto {
  background-color: #fff;
  color: #383838;
  &:hover {
    background-color: #383838;
    color: #fff;
  }
}

.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
