.cardContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #383838;
  gap: 1rem;
  justify-content: center;
  padding: 2rem 0;
}

@media (max-width: 768px) {
  .cardContainer {
    padding: 2rem;
  }
}
